.game-field{
    width: 306px;
    margin: 0 auto;
}
.game-field .block{
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    cursor: pointer;
    float: left;
    text-align: center;
    font-size: 100px;
    line-height: 94px;
}
.result  {
	
	text-align: center;
} 

.o {
	color: black;}
.x {
	color: 
red;}	